In [ ]:
print(1+2)

3

In [6]:
age = 18 # 年齢

if age < 20:
 # 未成年の場合
 print("ジュースで乾杯!")
else:
 # 青年の場合
 print("お酒で乾杯!")

ジュースで乾杯!

In [8]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 /3)
print(45 % 8)

63
18
90
10.0
5

In [9]:
print(45 + 1.8)
print(3 - 1,2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
2 2
9.0
10.0
0.1999999999999975

In [12]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [13]:
print("降水確率" + str(50) + "%")

降水確率50%

In [15]:
print("晴れ" *5)
print("晴れ"+ "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [16]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [19]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [21]:
# 整数型と不動小数点の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

#　文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [22]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [36]:
    #上辺 = x , 下辺 = y , 高さ = z , 単位 = "cm"
x = 10
y = 20
z = 5
    #計算式
answer = ((x + y) * z / 2)
print(f"台形の面積= {answer}cm²")

台形の面積= 75.0cm²

In [38]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
#　2番目の要素を更新する
user_names[1] = "侍花子"
print(user_names)

['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']

In [40]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
#　6番目の要素を追加する
user_names.append("侍五郎")
print(user_names)

# 3番目の要素を削除する
user_names.pop(2) # 0始りのため、3番目のインデックスは2
print(user_names)

['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍一郎', '侍三郎', '侍四郎', '侍五郎']

In [41]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
print(user_names[1])#2番目の要素だけ表示
user_names[1] = "侍花子"#　2番目の要素を更新
print(user_names)
user_names.append("侍五郎")#　6番目の要素を追加する
print(user_names)
user_names.pop(2) # 3番目の要素を削除(0始りのため2を指定)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [42]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")
# 3番目の要素である｢イギリス｣という文字だけを取り出す
print(country_names[2])
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [43]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")
# 3番目の要素を取り出す
print(country_names[2])
# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [49]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}
# セット全体を表示
print(country_names)

{'フランス', 'アメリカ', 'イギリス', '日本'}

In [50]:
prime_numbers = {2, 5, 2, 7, 3, 5, 5 }
# セット全体を表示
print(prime_numbers)

{2, 3, 5, 7}

In [51]:
# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}
# セット全体を表示
print(prime_numbers)
prime_numbers.add(11)# 11をセットに追加
print(prime_numbers)
prime_numbers.remove(3)# セットから3を削除
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}

In [53]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}
# セット全体を表示
print(country_names)
country_names.add("ドイツ")# 「ドイツ」をセットに追加
print(country_names)
country_names.remove("イギリス")# セットから「イギリス」を削除
print(country_names)

{'フランス', 'アメリカ', 'イギリス', '日本'}
{'ドイツ', 'イギリス', 'フランス', 'アメリカ', '日本'}
{'ドイツ', 'フランス', 'アメリカ', '日本'}

In [56]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}
# ボールペンの価格を取り出して表示
print(stationery_prices["ボールペン"])
print(stationery_prices)

120
{'鉛筆': 70, 'ボールペン': 120, 'シャープペンシル': 150, '消しゴム': 90}

In [57]:
sports = {1: "サッカー", 2: "野球", 3:"バスケット"}
# キー[2]の値を「バドミントン」に置き換える
sports[2] = "バドミントン"
# キー[4]として「水泳」を追加する
sports[4] = "水泳"
# 連想配列全体を取り出して表示
print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [58]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}
# 「シャープペンシル」を要素ごと削除
stationery_prices.pop("シャープペンシル")
# 連想配列全体を取り出して表示
print(stationery_prices)

{'鉛筆': 70, 'ボールペン': 120, '消しゴム': 90}

In [59]:
# 連想配列を作成
personal_date = {"name": "侍太郎", "age": 36, "gender": "男性"}
# キー「name」の値を表示
print(personal_date["name"])
# 連想配列全体を表示
print(personal_date)
# キー「age」の値を更新
personal_date["age"] = 37
# 新しく要素（キーと値）を追加
personal_date["address"] = "東京都"
# 連想配列全体を表示
print(personal_date)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [65]:
# リスト=arrayで作成
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]
# 連想配列=dictionaryで作成
dictionary = {"mon": "晴れ", "tue": "雨", "wed": "晴れ", "thu": "晴れ", "fri": "曇り", "sat": "曇りのち雨", "sun": "雷雨"}
#　リストから水曜日の天気予報を表示
print(array[2])
# ディクショナリーから水曜日の天気予報を表示
print(dictionary["wed"])

水曜日は晴れです
晴れ