In [ ]:
print(1+2)

3

In [6]:
age = 18 # 年齢

if age < 20:
 # 未成年の場合
 print("ジュースで乾杯!")
else:
 # 青年の場合
 print("お酒で乾杯!")

ジュースで乾杯!

In [8]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 /3)
print(45 % 8)

63
18
90
10.0
5

In [9]:
print(45 + 1.8)
print(3 - 1,2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
2 2
9.0
10.0
0.1999999999999975

In [12]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [13]:
print("降水確率" + str(50) + "%")

降水確率50%

In [15]:
print("晴れ" *5)
print("晴れ"+ "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [16]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [19]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [21]:
# 整数型と不動小数点の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

#　文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [22]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [35]:
    #上辺 = x , 下辺 = y , 高さ = z , 単位 = "cm"
x = 10
y = 20
z = 5
    #計算式
answer = ((x + y) * z / 2)
print(f"台形の面積= {answer} ㎠")

台形の面積= 75.0 ㎠